/* src/components/Navbar.css */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #16423C; /* Navbar background color */
  color: white;
  height: 60px;
  left: 250px;
  top: 0;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.hamburger-icon {
  font-size: 24px;
  cursor: pointer;
  margin-right: 10px;
}

.navbar h1 {
  margin: 0;
  font-size: 1.5rem;
}

.navbar-icons {
  display: flex;
  gap: 15px;
}

.navbar-icons i {
  font-size: 24px;
  cursor: pointer;
}
